@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic-ext');
/* ==========================================================================
   BASE
   ========================================================================== */
html {
  position: relative;
  min-height:100%;
  height:100%;
  line-height: 1.4;
  color: $base-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {margin: 0;}
img {max-width: 100%;max-height: 100%;}

table {width: 100%;}
p, ul {margin: 0;}
ul {padding: 0; list-style: none;}
small {font-size: 100%;display: inline-block;}

.hidden-xs {
  @media (max-width: $screen-xs) {
    display: none !important;
  }
}
.visible-xs {
  @media (min-width: $screen-xs) {
    display: none !important;
  }
}
.bx-center {text-align: center;}
hr {border: none; margin: 0; height: 1px;background: $border;}
/* ==========================================================================
  COMMON
  ========================================================================== */

/* FORMS */
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="search"], 
input[type="date"], 
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="search"], 
input[type="date"], 
select,
textarea {  
  width: 100%;
  border: 1px solid #d0d0d0;
  margin: 0;
  font-size: 16px;
  transition: all .3s ease-in-out;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  padding: 10px 14px;
  display: block;
  &:hover {
    
  }

  &::-webkit-input-placeholder {
    color: $gray-text;
  }
  &::-moz-placeholder {
    color: $gray-text;
  }
  &:-ms-input-placeholder {
    color: $gray-text;
  } 
  &:input-placeholder {
    color: $gray-text;
  }   
}
option {padding: 0}
textarea {
  resize: vertical;
  height: 120px;  
}

input[type="number"] {padding-right: 0;}
label {cursor: pointer;}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 0 0;
  vertical-align: middle; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
textarea {
  &:focus {
    box-shadow: 0 0 0 2px $main;
    border-color: $main;
    outline: none;
  }
  &.invalid {
    box-shadow: 0 0 0 2px $red;
    border-color: $red;    
  }
}

.lbl {  
  display: block;
  margin-bottom: 5px;  
}

fieldset {
  border: none; padding: 0; margin: 0;
}




label.checkbox, label.radio {
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;top: 0;bottom: 0; margin: auto;
  }
  &:before {
    width: 24px;height: 24px;    
  }
  &:after {
    transition: all .15s;
    transform: scale(0);
    opacity: 0;
  }  
  &.checked:after {
    transform: scale(1);
    opacity: 1;
  }
  input {visibility: hidden; position: absolute;}  
}
label.checkbox {
  &:before {
    border-radius: 4px;
    background: $main;
  }
  &:after {
    height: 14px;
    width: 18px;
    background: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00016 11.1701L1.83016 7.00009L0.410156 8.41009L6.00016 14.0001L18.0002 2.00009L16.5902 0.590088L6.00016 11.1701Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
    margin-left: 3px;
  }
  a {text-decoration: underline;}
}



/* DROP (MINI)MENU */
.drop-menu-wrapper {
	position: relative;
}
.drop-menu {
	background: #fff;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 130%;
	z-index: 5;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
	min-width: 160px;
	width: fit-content;
	overflow: hidden;
	display: none;
	.menu-item {
		cursor: pointer;
		display: block;
		a {
			display: block;
			padding: 10px 17px;
			&.active {background: #f8fcff}
		}
	}	
}

/* IMAGES */
.aligncenter, .alignleft, .alignright {display: block;margin: 0 auto 20px;}
@media (min-width: $screen-sm-min) {
  .alignleft, .alignright {display: inline-block;max-width: 75%}
  .alignleft {float: left;margin: 5px 20px 8px 0;}
  .alignright {float: right;margin: 5px 0 8px 20px;}  
}

/* UTILITY CLASSES */
.b-show-more {
  text-align: center;
  margin-bottom: 28px;
}
.centered-mob {
	text-align: center;
	@media (min-width: $screen-sm-min) {text-align: left;}	
}

/* BUTTONS */
.btn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  letter-spacing: .04em;
  text-decoration: none;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  background-color: transparent;
  transition: all .3s;  
  font-family: Roboto, sans-serif;  
  &:hover {
    cursor: pointer;
  }

  svg {max-width: 100%; min-height: 100%;}
  @media (min-width: $screen-sm-min) {}
}


@mixin btn-colors() {
  color: #fff;
  background: $main;
  &:hover {background: #3C9027; color: #fff !important}
  &:active {background: #307420; color: #fff !important}
}

.btn-main {
  @include btn-colors();  
  border: none !important;      
  &[disabled] {
    background: $gray-light-button;
    cursor: not-allowed;
  }
}
.btn-main, .btn-sub, .btn-cancel {
  border-radius: 3px;
  //font-size: 18px;
  padding: 14px 32px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.btn-sub {
  background: #fff;
  color: $main;
}
.btn-text {color: $main;
  &:hover {color: $main-hover}
}

@mixin btn-pill() {
  @include btn-colors();
  border-radius: 30px;
  padding: 7px 16px;  
  font-size: 16px;
  border: none;
}
.btn-pill {
  @include btn-pill();
}

.btn-search {
  background: url('../img/search.svg') no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;  
}
.btn-settings {
  background: $main;
  border-radius: 4px;
  position: relative;
  .number {font-size: 9px; font-weight: 500;color: $main;height: 16px;width: 16px; line-height: 16px; position: absolute; right: 0px;bottom: 0px; background: $main-light;border-radius: 100%; font-style: normal}
}
.btn-link {
  @include link();
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px; //header
  &.grayed {color: #6F6F6F}
  .userpic {font-size: 10px; width: 23px;height: 23px; line-height: 17px; vertical-align: bottom; margin-right: 8px;}
}

.btn-picker {
  white-space: nowrap;
  &:after {
    content: "";
    width: 12px;height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L0 1.33198L6 7L12 1.33198L10.59 0L6 4.32659L1.41 0Z' fill='%2347AB2F'/%3E%3C/svg%3E%0A");
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.btn-menu {
  padding: 0; border: none; background: none;
  cursor: pointer;

  $icon-color: $main;
  $burger-line-width: 25px;
  $burger-line-height: 2px;
  $burger-line-radius: 0px;
  $burger-line-margin-v: 5px;
  $transform-y: $burger-line-margin-v + $burger-line-height;

  span {
    display: block;
    position: relative;
    margin: $burger-line-margin-v 0;
    width: $burger-line-width;
    height: $burger-line-height;
    border-radius: $burger-line-radius;
    background-color: $icon-color;
    transition: 240ms;
    will-change: transform;
    perspective: 100px;
  }
  
  &.active {
    span {
      &:nth-child(2) {
        transform: scale(0);
      }
      
      &:nth-child(1) {
        transform: translateY($transform-y) rotate(45deg);
      }
      
      &:nth-child(3) {
        transform: translateY(-$transform-y) rotate(-45deg);
      }
    }
  }  
}
.user-loggedin {
  .btn-menu.active {
    span {background-color: #fff;}
  }
}

.btn-close {
  border: none;
  width: 14px;height: 14px;
  padding: 0;
  background: none;
  cursor: pointer;
  svg {width: 100%;height: 100%; max-width: 100%; max-height: 100%}
}

.btn-tag {
  color: $base-text; font-size: 11px;text-transform: uppercase; font-weight: 500;
  border: 1px solid $border;border-radius: 3px;
  padding: 8px 10px 6px;
  line-height: 1;
  .count {font-weight: 400;display: inline-block;margin-left: 7px;}
}

.btn-cancel {
  background: $gray-light-button;
  color: #fff;
  .icon {margin-right: 10px;
    path {fill: #fff}
  }
}

/* ==========================================================================
   CONTENT
   ========================================================================== */
h1, h2, h3, h4 {line-height: 1.1; font-weight: 500}
.h-index {
  font-size: 1.7rem;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background: rgba(#000, 0.3);
    margin-top: 12px;
  }
  @media (min-width: $screen-sm-min) {font-size: 1.7rem;}
}

.breadcrumbs {
  color: $gray-text;
  margin-bottom: 25px;
  &:last-child {margin-bottom: 0;}
  li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    &:after {
      content: ""; width: 4px;height: 4px;
      background: $gray-text;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px 0 12px;
    }
    &:last-child {
      color: $gray;
      &:after {content: none}
    }
    a {color: $gray-text}
  }

  @media (max-width: $screen-md-max) {
    display: none;
  }
  @media (min-width: $screen-sm-min) {
    //margin-bottom: 55px;
    //&:last-child {margin-bottom: 0;}
  }
}

.row-mod {
  @include row-mod();
}

.section-major {
  margin-bottom: 28px;
}

.carousel-list {
  @media (max-width: $screen-md-max) {
    padding: 0 30px;
  }
  .card {
    @media (min-width: $screen-xs-min) {
      margin-right: 30px;
      &:last-child {margin-right: 0;}      
    }
  }
}


/* ==========================================================================
   ARTICLE
   ========================================================================== */





/* ==========================================================================
   CARDS
   ========================================================================== */



/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.sidebar-site {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 24px;
  }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
