@charset "UTF-8";
@import '_variables';
@import '_base+common';
@import '_plugins';
@import '_other';

body {	
	font-family: Roboto, sans-serif;
	font-size: 16px;
	background: #FCFBFA;
	overflow-x: hidden;	
	min-height: 100%;
	@media (min-width: $screen-sm-min) {
		position: relative;
		padding-bottom: 560px;
	}	
	@media (min-width: $screen-md-min) {
		//padding-bottom: 470px;
	}
	@media (min-width: $screen-lg-min) {
		padding-bottom: 470px;
	}	
}

a {
	@include link();
}

a, svg, path, button {transition: all .15s;}
.container {
	max-width: 1100px;
}
$sect-mg: 2rem;
$sect-mg-neg: 39px;


.userpic {
	background: $main-light;
	display: inline-block;
	border-radius: 100%;
	width: 64px;height: 64px;
	font-size: 24px;
	text-align: center;
	color: $main;
	line-height: 64px;	
	font-style: normal;
	border-color: #fff;
	border-style: solid;
	img {border-radius: 100%;}
	&-checked {
		position: relative;
		&:after {
			content:"";
			width: 24px;height: 24px;
			background: $main url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00016 11.1698L1.83016 6.99984L0.410156 8.40984L6.00016 13.9998L18.0002 1.99984L16.5902 0.589844L6.00016 11.1698Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
			display: block;
			border-radius: 100%;
			position: absolute;
			right: -4px;
			bottom: -4px;
		}
	}
}
.userpic-mini {
	width: 32px;height: 32px;
	font-size: 16px;
	line-height: 28px;
}
/* ==========================================================================
   HEADER
   ========================================================================== */

.logo-site {
	font-weight: bold;
	color: #000;
	font-size: 17px;
	background: url('../img/logo.svg') 0 50% no-repeat;
	padding-left: 36px;
	width: 90px;
	display: block;
	line-height: 1;
}

.header-site {
	background: #fff;		
	position: relative;

	@media (max-width: $screen-md-max) {
		//padding-bottom: 88px;
	}


	.back { //del
		display: block;
		width: 24px;height: 24px;		
		line-height: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bx-user,.bx-action {width: 80px;}//del
	.bx-user { //del
		display: flex;
		justify-content: flex-end;
	}


	.header-level-1 {box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);padding: 0 20px;}

	.col-search {
		display: flex;
		align-items: stretch;
		.button {margin-left: 10px;}
		.btn-settings {height: 100%; width: 40px;}

		@media (max-width: $screen-md-max) {
			position: absolute;
			bottom: 20px;left: 20px;right: 20px;
		}
		@media (min-width: $screen-lg-min) {
			margin: 0 15px;
			width: 600px;
		}
	}
	.bx-button-filter {
		position: fixed;
		bottom: 20px; right: 20px;
		z-index: 3;
		.btn-settings {width: 50px;height: 50px; border-radius: 100%; overflow: visible;}
	}

		.form-search {
			position: relative;
			flex-grow: 1;
			//z-index: 3;
		}
		.search-field {
			//background: right 20px center url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8008 14.1151C17.7732 10.7873 17.6622 5.67684 14.4676 2.48224C11.1579 -0.827415 5.7919 -0.827415 2.48224 2.48224C-0.827415 5.7919 -0.827415 11.1579 2.48224 14.4676C5.4262 17.4115 9.99719 17.7368 13.3007 15.4435L17.0147 19.1575L18.429 17.7433L14.8008 14.1151ZM13.0159 3.93403C15.5239 6.44202 15.5239 10.5083 13.0159 13.0163C10.5079 15.5243 6.44168 15.5243 3.93369 13.0163C1.4257 10.5083 1.4257 6.44202 3.93369 3.93403C6.44168 1.42604 10.5079 1.42604 13.0159 3.93403Z' fill='%2346AA32'/%3E%3C/svg%3E%0A") no-repeat;
			padding-left: 40px;
		}
		.search-field-btn {
			background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8008 14.1151C17.7732 10.7873 17.6622 5.67684 14.4676 2.48224C11.1579 -0.827415 5.7919 -0.827415 2.48224 2.48224C-0.827415 5.7919 -0.827415 11.1579 2.48224 14.4676C5.4262 17.4115 9.99719 17.7368 13.3007 15.4435L17.0147 19.1575L18.429 17.7433L14.8008 14.1151ZM13.0159 3.93403C15.5239 6.44202 15.5239 10.5083 13.0159 13.0163C10.5079 15.5243 6.44168 15.5243 3.93369 13.0163C1.4257 10.5083 1.4257 6.44202 3.93369 3.93403C6.44168 1.42604 10.5079 1.42604 13.0159 3.93403Z' fill='%2346AA32'/%3E%3C/svg%3E%0A") no-repeat;
			width: 19px; height: 20px;
			position: absolute; left: 14px;top: 0;bottom: 0; margin: auto;
			
		}
		.form-search-suggest {
			position: absolute;
			left: 0;right: 0;
			top: 100%;
			margin-top: 2px;
			background: #ffffff;
			display: none;
			.list-suggest {}
			.list-item {position: relative; display: block; margin-bottom: 1px;}
				.category a {background: $gray-light}
			.type {position: absolute; top: 10px;right: 20px;}
			a {color: $base-text;font-size: 15px;display: block; padding: 10px 20px; position: relative;}
			mark {color: $main; background: none;}
		}

	.col-actions {
		display: flex;
		flex-shrink: 0;
		.links {}
		.btn-link:first-child {margin-right: 40px;}
		.btn-link:last-child {margin-right: 0;}
	}
	.user-block {position: relative; display: inline-block;}
	.list-user {
		position: absolute;
		top: 100%;
		left: 0;
		width: 200px;
		margin-top: 10px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		background: #FFFFFF;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		padding: 20px;
		transform: translateY(-1em);
		opacity: 0;
		z-index: -1;
		transition: all .3s;
		a {font-size: 15px;}		
		.list-item {margin-bottom: 20px; &:last-child {margin-bottom: 0;}}

		&:before {
			content: "";
			position: absolute;
			top: -7px;
			left: 25px;
			width: 14px;
			height: 14px;
			background: #fff;
			border-radius: 3px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-width: 1px 0 0 1px;
			transform: rotate(45deg);
		}
	}

	.user-block:focus .list-user, 
	.user-block:hover .list-user {
		visibility: visible;
		opacity: 1;
		z-index: 10;
		transform: translateY(0%);
		transition-delay: 0s, 0s, 0.3s;
	}
	.btn-menu {margin-left: 40px;position: relative;z-index: 6;}
}
.row-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 58px;
	@media (min-width: $screen-lg-min) {
		height: 88px;
	}
}
.link-icon {
	svg {vertical-align: middle; margin-right: 10px;}	
}






/* ==========================================================================
	NAVIGATION
========================================================================== */
#overlay-page {
	position: fixed;
	right: 0;top: 0;bottom: 0;left: 0;
	height: 100%;width: 100%;
	background: rgba(#000, .7);
	display: none;
	z-index: 4;
}
.menu-top {z-index: 5;}
.menu-main {
	width: 288px;
	background: #fff;
	padding: 14px;
	padding-top: 0;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -288px;
	transition: all ease-in .3s;
	&.opened {
		right: 0;
	}
	.menu-item a, .location {
		color: $base-text;
		font-size: 15px;
		padding: 10px;
		display: block;
		border-radius: 3px;
		cursor: pointer;
		&:hover {
			background: $gray-light;
			color: $base-text !important;
		}
	}

	.location {
		position: relative;
		.icon {position: absolute; left: 10px;top: 0;bottom: 0; margin: auto;}
		.town {padding-left: 20px;}
	}

	hr {background: $gray-light; margin: 10px 0}
}
.menu-main-header {
	background: $gray-light;
	margin: 0 -14px;
	padding: 0 20px;
	height: 56px;
	display: flex;
    align-content: center;
    align-items: center;
	margin-bottom: 10px;
	color: $main;
	.btn-link {
		display: inline-block; margin: 0 5px;
		&:first-child {margin-left: 0;}
		&:last-child {margin-right: 0;}
	}
	@media (min-width: $screen-lg-min) {
		height: 87px;
	}
}
.menu-main-user {
	margin: 0 -14px;
	padding: 0 14px;
	position: relative;
	margin-bottom: 10px;
	&:before {
		content: "";
		background: $main;
		height: 56px;
		display: block;
		margin: 0 -14px;
		@media (min-width: $screen-lg-min) {
			height: 87px;
		}
	}
	background: $gray-light;

	.userpic {width: 76px; height: 76px; border-width: 4px;
		position: absolute;
		left: 14px;top: 14px;
		@media (min-width: $screen-lg-min) {
			top: 50px;
		}		
	}
	.rating {
		position: absolute;
		left: 102px;
		top: 33px;
		color: #fff;
		//font-size: 12px; //backup
		path {fill: #fff}
		@media (min-width: $screen-lg-min) {
			top: 60px;
		}		
	}
	.rating-num {color: #fff}
	.menu {
		padding-left: 88px;
	}
	&-heading {
		position: relative;
		cursor: pointer;
		padding: 10px 0;			
		min-height: 40px;
		.user-name {color: $main;text-transform: uppercase;font-weight: 500;font-size: 14px;}
		.icon {position: absolute; top: 0;right: 0;bottom: 0; margin: auto; width: 9px;
			path {fill: $main !important;}
		}
		&.active {
			.icon {transform: rotate(180deg)}
		}
	}
	&-actions {margin-top: 10px; padding-bottom: 10px;}
}

.rating-mini-horiz {
	font-size: 12px;
	.star {vertical-align: middle;}
}
.menu-login-social { //del?
	@include clearfix;
	margin-bottom: 40px;
	.menu-item {
		display: block;
		float: left;
		margin-right: 16px;
		&:last-child {margin-right: 0;}
	}
	a {
		display: block;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 40px;
		border-radius: 8px;
	}
	.vk {background: #416B9E;}
	.fb {background: #3A5CA9;}
	.ok {background: #FF9800;}
	.tw	{background: #56CCF2;}
	.google	{background: #fff;}
	@media (min-width: $screen-sm-min) {
		a {width: 74px;}
	}
}


/* pagination */
.pagination-wrapper {
	text-align: center;
	margin-top: 10px;
	//margin-bottom: 75px;
}
.pagination {
	
	.page {
		background: #fff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 3px;			
		display: inline-block;
		width: 46px;
		height: 46px;
		line-height: 46px;
		text-align: center;
		font-weight: 500;
	}
	.current,.dots {box-shadow: none;}
	.current {background: $main; color: #fff}
	.dots {background: none}
	path {fill: $gray-text}

	@media (max-width: $screen-xs-max) {
		.page {display: none;}
		.back, .forw, .current, .current+.page, .dots {display: inline-block;}
	}	
}

/* ==========================================================================
   CONTENT
   ========================================================================== */

.h-main {
	font-weight: bold;
	font-size: 24px;
	@media (min-width: $screen-md-min) {
		font-size: 32px;		
	}
}
.bx-mg {margin-bottom: 25px;
	@media (min-width: $screen-lg-min) {
		margin-bottom: 50px;
	}
	//&:last-child {margin-bottom: 0;}
}
.h-page { //H1
	margin: 0 0 20px 0;
	font-size: 24px;
	font-weight: 500;
}
.h-center {text-align: center;}
.h-section, .h-section-color { //H2
	font-weight: 500;
	font-size: 20px;
	margin: 0 0 25px 0;
}
.h-section-color {color: $main}
.h-content {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 20px 0;
}

.content-main {
	margin-top: 25px;
	@media (min-width: $screen-lg-min) {
		margin-top: 55px;
	}
}

.morecontent span {//del?
	display: none;
}

.article {
	p {margin-bottom: 15px;}
}

/* HOME / LANDINGS */
.hero-img {
	height: 200px;	
	@media (min-width: $screen-sm-min) {height: 400px;}
	background: url('../img/photo-home.jpg') no-repeat;	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.search-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@media (min-width: 500px) {
		display: flex;
		max-width: 630px;		
		input {margin: 0 20px 0 0 !important;}
	}
	.btn {width: 190px; flex-shrink:0}
}

.list-categs-xl {
	.menu-item {padding: 0 0 16px 0;}
	@media (max-width: $screen-sm-max) {
		.hid {visibility: hidden; height: 0; line-height: 0; overflow: hidden;padding: 0;}
	}
	@media (min-width: $screen-md-min) {
		columns: 2; margin: 0 -10px;
		.menu-item {
			padding: 0 10px 16px 10px;
			-moz-column-break-inside:avoid;
			-webkit-column-break-inside:avoid;
			column-break-inside:avoid;			
		}
	}
	@media (min-width: $screen-lg-min) {columns: 3;}

	.menu-item {
		word-wrap: none;
		margin: 0;
		display: flex;
		justify-content: space-between;
	}
	a {color: $base-text;}
	.number {color: $gray-text}
}
.h-page + .list-categs-xl {margin-top: 3rem;
	@media (min-width: $screen-lg-min) {margin-top: 90px;}
}
.list-categs-xl-show {
	@media (min-width: $screen-md-min) {
		display: none;
	}
}


.list-howitworks {
	text-align: center;	
	.title {margin-top: 8px;}
	.list-item {margin-bottom: 50px;}
	@media (min-width: $screen-sm-min) {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		.list-item {flex: 1 0 0;}
	}
}

/* CATEGORY */
.category-intro {
	text-align: center;
	.h-page {margin-bottom: 40px;}
	.category-icon {margin-bottom: 40px;}
	.btn-main {margin-bottom: 20px;}
}
.category-numbers {
	.h-section {margin: 0 0 10px 0;}
}
.category-prices {
	font-size: 1.1rem;
	.item {margin-bottom: 20px;}
	.categ {display: block;}
	@media (min-width: $screen-md-min) {
		columns: 2;
	}
	@media (min-width: $screen-lg-min) {
		columns: 3;
	}	
}

.list-portfolios {
	//.glide__slide {background-color: rgb(171, 179, 197);}
	.image-wrap {
		display: block; 
		margin-bottom: 10px;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.title {}
}
/* ==========================================================================
   LISTING
========================================================================== */

.row-new {
	display: flex;
	justify-content: space-between;
	@media (max-width: $screen-sm-max) {
		flex-wrap: wrap;
		flex-direction: column;
		.col-sidebar {order: 1}
		.col-content {order: 2}
	}
	@media (min-width: $screen-md-min) {
		.col-content {
			padding: 0 16px 0 0;
			flex-grow: 1;
		}
		.col-sidebar {
			flex-grow: 0;
			flex-shrink: 0;
			width: 280px;
			justify-content: flex-start;
		}
	}
	@media (min-width: $screen-lg-min) {
		.col-content {padding: 0 32px 0 0;}	
	}
}
.row-listing {
	display: flex;
	@media (max-width: $screen-sm-max) {
		flex-direction: column;
		.col-sidebar {order: 1}
		.col-content {order: 2}
	}
}

.card {
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;	
	padding: 20px;	
	position: relative; 
}
.h-card {
	font-size: 16px;
	font-weight: 500;
	a {color: $base-text}
}
.h-card-second {
	font-size: 16px;
	margin-bottom: 20px;
}

.card-offer {
	transition: all .3s;
	margin-bottom: 10px;
	padding-bottom: 80px; //for footer
	&:hover {cursor: pointer; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);}
	.price {font-size: 17px;}
	.h-card {margin-bottom: 20px;}
	.user-summary-inline {margin-top: 20px;}
	.list-services-card {margin-bottom: 20px;}
	.img-avatar-wrap {margin: -20px -20px 20px -20px}
}

.list-services-card {
	.list-item {font-size: 13px; display: flex;justify-content: space-between; position: relative; margin-bottom: 5px;
		&:after {
			content: ""; 
			height: 1px; 
			display: block; 
			position: absolute; 
			left: 0;
			right: 0;top: 50%; background: $border;
		}		
	}
	span {background: #ffffff; display: inline-block; position: relative;z-index: 1;}
	span:first-child {padding-right: 5px;}
	span:last-child {padding-left: 5px;}
}

.footer-card {
	border-top: 1px solid $gray-border;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	position: absolute;
	left: 0;bottom: 0;right: 0;
	padding: 20px;
	text-align: center;
}
.card-order {
	.footer-card {justify-content: space-between;}
}
.img-avatar-wrap {
	position: relative;
	background: $gray-light;
	padding-bottom: 40px;
	.image {
		height: 200px; 
		background-repeat: no-repeat;
		background-size: cover; 
		background-position: center center;
		background-color: #E7E7E7;
		display: flex;
		justify-content: center;
		align-items: center;		
		border-radius: 3px 3px 0 0;
		&.no-image {
			background-size: auto;
		}
	}
	.userpic {width: 80px;height: 80px; position: absolute;bottom: 0;left: 20px; font-size: 20px; line-height: 75px;}
	.rating {position: absolute; bottom: 11px; left: 110px; font-size: 14px;}
}
.time-left {font-size: 14px; color: $gray-text;
	.icon {margin-right: 5px;}
	&.urgent {color: $red}
}

.user-summary-inline {
	.user-mini {display: inline-block;margin-right: 10px;}
	color: $base-text;
	font-size: 12px;
	display: flex;
	align-items: center;
	.userpic {width: 23px;height: 23px;font-size: 10px; line-height: 17px; vertical-align: middle;}
	.rating {display: inline-block;font-size: 14px;}
}

.row-main {
	
/* 	@media (max-width: $screen-md-max) {
		flex-direction: column;
		.col-content {order: 2}
		.col-sidebar {order: 1}
	} */
	@media (min-width: $screen-lg-min) {
		display: flex;
		.col-content {flex-grow: 1}
		.col-sidebar {width: 262px;flex-grow: 0;flex-shrink: 0; margin-left: 40px;}
	}
}
.row-listing-main {
	@media (max-width: $screen-xs-max) {
		.card-offer {margin-left: -15px;margin-right: -15px;}
	}
	@media (min-width: $screen-sm-min) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.card-offer {width: 49%;}
	}
}


.nav-serv-mast {
	margin-bottom: 10px;
	@media (max-width: $screen-md-max) {
		background: #3B464B;
		margin: 0 -20px;
		padding-left: 15px;
		position: relative;
		top: -20px;
		.num {display: none;}
		.btn, .btn.grayed {color: #fff;
			border: 4px solid transparent;
			padding: 10px 5px;
			border-width: 4px 0;
		}
		&.services {
			.btn:first-child {border-bottom-color: $main}
		}
		&.masters {
			.btn:last-child {border-bottom-color: $main}
		}		
	}
	@media (min-width: $screen-lg-min) {
		.num {margin-left: 10px;}
		.indicator {
			background: #999;
			border-radius: 3px;
			height: 4px; width: 20px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			margin: 0 10px;
			&:after {
				content: "";
				width: 10px;height: 10px;border-radius: 100%;
				position: absolute;
				background: $main;			
				top: -3px;
			}
		}
		&.services .indicator:after {left: 0;}
		&.masters .indicator:after {right: 0;}
	}
}

.listing-noresults {
	background: $gray-light;
	text-align: center;
	padding: 60px 20px;
	.heading {margin: 40px 0; color: $gray-text}
}
/* ==========================================================================
	FORMS 
========================================================================== */
.form-main {
	margin: 0 auto;
	padding-top: 24px;
	@media (min-width: $screen-md-min) {
		//width: 360px;
	}		
	@media (min-width: $screen-lg-min) {		
		//width: 412px;
		padding-top: 90px;
	}	
	p {margin-bottom: 20px;}
	.h-main {margin-top: 0;}
}
.form-order {
	@media (min-width: $screen-md-min) {
		max-width: 610px;
	}		
	@media (min-width: $screen-lg-min) {		
		max-width: 630px;
	}	
}
.form-login {
	max-width: 360px;
	@media (min-width: $screen-lg-min) {		
		max-width: 410px;
	}	
}

.user-entered {
	.h-content {
		margin-bottom: 10px; 
	}
}
.user-credits {
	font-size: 16px;
	margin-bottom: 10px !important;
	.prof {color: $gray-text;display: block;}
}

.user-description {
	p {display: inline;}
}



input[type="date"] {
	//background: 99% 50% url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 2H16C17.1 2 18 2.9 18 4V18C18 19.1 17.1 20 16 20H2C0.89 20 0 19.1 0 18V4C0 2.9 0.89 2 2 2H4V0H6V2H12V0H14V2ZM2 4H8V10H2V4ZM10 4H16V10H10V4ZM8 12H2V18H8V12ZM10 12H16V18H10V12Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat;
	//background-position: right 10px center;
}
.checkbox-accept {
	@media (min-width: $screen-lg-min) {
		margin-bottom: 50px;
	}
}

input[type=text],
input[type=password] {margin-bottom: 20px;}

.form-row, .link-input {
	margin: 0 0 25px 0;
	display: block;
	@media (min-width: $screen-lg-min) {
	  margin-bottom: 35px;
	}
	input {margin-bottom: 0;}
  }

.link-input {margin-top: -10px;}
.link-input+.sms-info {margin-top: -20px;}

.sms-info {
	margin-top: 48px;
	.heading {font-weight: bold; margin-bottom: 8px;}
	.time {
		display: block;
		margin-top: 16px;
		color: $gray-text;
	}
}

.btn-full-mb {
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}
.form-bottom-buttons {
	@media (max-width: $screen-xs-max) {
		.btn-main {margin-bottom: 16px;}
	}
	@media (min-width: $screen-sm-min) {
		.btn-main {margin-right: 16px;}
	}
}

.pseudo-select {
	cursor: pointer;
	background-image:  url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L0 1.33198L6 7L12 1.33198L10.59 0L6 4.32659L1.41 0Z' fill='%23333333'/%3E%3C/svg%3E%0A");	
	background-position: 98% 50%;
	background-position: right 10px center;
	background-repeat: no-repeat;
}


.photos-uploaded {
	.item {
		text-align: center;
		width: 80px;
		margin-right: 16px;
		display: inline-block;	
		.photo {background-size: cover; background-repeat: no-repeat;}	
	}
	
	.photo {
		display: block;
		width: 80px;height: 80px;
		background: $gray-light;
		border-radius: 8px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.ava-item .photo {border-radius: 100%;}
	.item-add {
		.photo {
			cursor: pointer;
			background: $main-light url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9998 13.2C11.7671 13.2 13.1998 11.7673 13.1998 9.99999C13.1998 8.23268 11.7671 6.79999 9.9998 6.79999C8.23249 6.79999 6.7998 8.23268 6.7998 9.99999C6.7998 11.7673 8.23249 13.2 9.9998 13.2Z' fill='%2347AB2F'/%3E%3Cpath d='M7 0L5.17 2H2C0.9 2 0 2.9 0 4V16C0 17.1 0.9 18 2 18H18C19.1 18 20 17.1 20 16V4C20 2.9 19.1 2 18 2H14.83L13 0H7ZM10 15C7.24 15 5 12.76 5 10C5 7.24 7.24 5 10 5C12.76 5 15 7.24 15 10C15 12.76 12.76 15 10 15Z' fill='%2347AB2F'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;			
		}
	}
	.link {font-size: 16px;}
	.img-input {display: none;}

}
.photos-avatar{
	.photo {border-radius: 100%;}
	&.chosen {
		.item-add {display: none;}
	}
}
.img-file-inputs {
	display: none;
}

.error-text {
	font-size: 14px;
	color: $red;
	margin-top: 10px;
}

.input-password {
	position: relative;
	.btn-passtoggle {
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -9px;
	}	
}
.btn-passtoggle {
	width: 24px;
	min-width: 24px;
	height: 18px;
	background: 50% 50% url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6441 9.76299C15.3161 9.05991 15.7347 8.0793 15.7347 7C15.7347 5.9207 15.3161 4.94009 14.6441 4.237C13.9661 3.52775 13.0287 3.08987 11.9971 3.08987C10.9654 3.08987 10.028 3.52775 9.35593 4.23084V4.237C8.67797 4.94009 8.2594 5.91454 8.2594 7C8.2594 8.0793 8.67797 9.05374 9.35593 9.76299C10.0339 10.4722 10.9654 10.9101 11.9971 10.9101C13.0346 10.9101 13.9661 10.4722 14.6441 9.76299ZM17.1201 7C17.1201 8.47401 16.5483 9.81233 15.6227 10.7868H15.6168C14.6912 11.7551 13.4119 12.3533 11.9971 12.3533C10.5822 12.3533 9.30287 11.7551 8.3773 10.7868C7.45173 9.8185 6.87988 8.48018 6.87988 7C6.87988 5.52599 7.45173 4.1815 8.3773 3.21322H8.3832C9.30877 2.23877 10.5881 1.64053 11.9971 1.64053C13.4119 1.64053 14.6912 2.23877 15.6227 3.21322C16.5483 4.1815 17.1201 5.51982 17.1201 7ZM5.02284 11.6749C7.06853 13.0626 9.3913 14 11.9971 14C14.6087 14 16.9315 13.0626 18.9713 11.6749C20.8814 10.3859 22.5556 8.69604 24 7C22.3788 5.13128 20.3272 3.26256 18.087 1.92423C16.1356 0.75859 14.0486 0 11.9971 0C9.94547 0 7.85851 0.75859 5.90715 1.92423C3.67281 3.26256 1.62122 5.13128 0 7C1.44436 8.69604 3.11864 10.3859 5.02284 11.6749Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat;	
	padding: 0;
	transition: none;
	&.active {
		background: 50% 50% url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9C1.44472 10.5818 3.11794 12.1564 5.02703 13.3643C5.27027 13.5153 5.51351 13.6663 5.76413 13.8029L3.22113 16.2834L3.04423 16.4632C2.68305 16.8155 2.68305 17.3835 3.04423 17.7358C3.40541 18.0881 3.98771 18.0881 4.34889 17.7358L4.5258 17.5632V17.556L7.51843 14.6441C8.90418 15.1977 10.4005 15.5213 12 15.5213C14.6093 15.5213 16.9312 14.6513 18.973 13.3643C20.8821 12.1564 22.5553 10.5818 24 9C22.3857 7.26723 20.3514 5.54164 18.1327 4.29059L20.9558 1.53685C21.317 1.18454 21.317 0.616537 20.9558 0.26423C20.5946 -0.0880767 20.0123 -0.0880767 19.6511 0.26423L16.3931 3.44218C14.9558 2.83823 13.4668 2.47154 12 2.47154C9.95086 2.47154 7.85749 3.18334 5.91155 4.26902C3.67076 5.52007 1.62162 7.25285 0 9H0ZM7.78378 11.84C7.21622 11.0348 6.87715 10.0569 6.87715 9C6.87715 7.62672 7.45209 6.37567 8.38084 5.46974C9.33907 4.52786 10.6364 4.003 12 4.003C13.0835 4.003 14.086 4.33373 14.9115 4.88736L13.9091 5.86519C13.3489 5.54164 12.7002 5.3547 12 5.3547C10.9681 5.3547 10.0319 5.75734 9.35381 6.41881C8.68305 7.08029 8.2629 7.99341 8.2629 9C8.2629 9.67585 8.45455 10.3158 8.78624 10.8622L7.78378 11.84ZM16.2162 6.15998L15.2138 7.13781C15.5455 7.68424 15.7371 8.31696 15.7371 9C15.7371 10.0066 15.317 10.9197 14.6462 11.5812C13.9681 12.2355 13.0319 12.6453 12 12.6453C11.2998 12.6453 10.6511 12.4584 10.0909 12.1348L9.08845 13.1126C9.91401 13.6663 10.9165 13.997 12 13.997C13.4079 13.997 14.6904 13.4362 15.6192 12.5303C16.5479 11.6243 17.1229 10.3733 17.1229 9C17.1229 7.94308 16.7838 6.96525 16.2162 6.15998Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat;
	}
}

.city-picker { //del?
	display: inline-block;
	border-bottom: 1px solid $base-text;
	cursor: pointer;
	transition: all .15s;
	&:hover {
		color: $red;
		border-color: $red;
	}
}

.form-login-tel {
	text-align: center;
	margin-bottom: 24px;
	.tel {font-size: 24px;letter-spacing: 3px; margin-bottom: 8px;}
	a {font-size: 16px;}
}

/* ==========================================================================
	--------------FORMS 
========================================================================== */


/* ==========================================================================
	MODALS   
========================================================================== */

body.modal-opened {overflow: hidden;}

.modal-container {
	position:fixed;
	z-index:-1;
	opacity: 0;
	transform: scale(0);
	transition: all .3s;
	top:0;
	left:0;		
	right: 0;
	bottom: 0;
	height:100%;
	width:100%;
	min-width: 100%;

	&.opened {		
		display:flex;
		opacity: 1;
		z-index: 20;
		transform: scale(1);
	}
}
.modal-bg {
    //display: table-cell;
    //text-align: center;
		//vertical-align: middle;
    background: rgba(0, 0, 0, 0.9);
		width: 100%;
		height: 100%;
		flex-shrink: 0;
		flex-grow: 1;
		align-items: center;
		display: flex;
}

#modal-categs, #modal-cities {
	.modal-window {
		@media (max-width: $screen-xs-max) {
			width: 100%;	
			height: 100%;
		}
	}
}
.modal-tel {
	.modal-window {
		max-width: 100%;

	}	
}

.modal-window {
	background: #fff;
	//width: 320px;

	margin: 0 auto;
	text-align: left;
	padding-right: 4px;
	@media (min-width: $screen-sm) {
		width: 400px;
		border-radius: 8px;
		//height: 600px;
		//display: inline-block;
	}
	.wrapper {
		position: relative;
		height: 100%;
		overflow: hidden;
	}

	/*header*/
	.modal-header {
		padding: 30px 16px 10px 16px;
		@media (min-width: $screen-sm) {
			padding: 40px 24px 10px 24px;
		}
	}
	&.menu-open-1,
	&.menu-open-2, {
		.h-modal {
			background: no-repeat url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1.41L5.66802 0L0 6L5.66802 12L7 10.59L2.67341 6L7 1.41Z' fill='%23333333'/%3E%3C/svg%3E%0A") 0 50%;
			cursor: pointer;
			padding-left: 16px;
		}
	}

	.btn-close {position: absolute; right: 15px;top: 20px;
		//@media (min-width: $screen-sm) {top: 20px;}
	}		

	/* content */

	.modal-content {
		overflow: auto;
		padding: 16px;
		height: 100%;
		max-height: 650px; //set via JS
		@media (min-width: $screen-sm) {
			padding: 24px 16px 24px 24px;
			max-height: 520px;
		}
	}
		.search-field {margin-bottom: 24px;}

		.heading {color: $gray-text; font-size: 16px; margin-bottom: 8px;}

		hr {margin-bottom: 20px;}

		.menu-item {		
			margin: 0 -16px;
			display: block;
			a {padding: 14px 16px;display: block;border-radius: 8px; color: $base-text}
			a:hover {background: $gray-light}
		}
		.sub-menu {
			background: #fff;
			position: absolute;
			//left: 400px;
			left: 100%;
			width: 400px;
			height: 100%;
			top: 75px;
			bottom: 0;
			transition: all .15s;
			padding: 0 16px;
			padding-bottom: 100px;
			overflow: auto;
			.menu-item {margin: 0;}
			.sub-menu {top:0;}
		}

		.active {							
			>a {color: #fff;background: $main !important;}
		}
}


.h-modal {font-weight: bold;font-size: 24px; margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 10px;	
}

.heading-modal-actions {text-align: center; margin: 20px 20px 0 20px; padding-bottom: 20px; border-bottom: 1px solid $gray-light; line-height: 1.6}
.menu-modal-actions {
	text-align: center;
	overflow: hidden;
	border-radius: 8px;
	.menu-item {
		border-bottom: 1px solid $gray-light;
		&:last-child {border-bottom:none}
		a {display: block;color: $base-text; padding: 16px ;}
	}
}
.heading-modal-actions 

#modal-tel, .modal-tel {
	.btn-close {top: 24px;right: 24px;}
	.modal-window {text-align: center;}
	.h-modal {padding: 0; margin-bottom: 24px;}
	
	.modal-content {padding-top: 60px;}
	.tel {
		font-size: 24px;
		letter-spacing: 3px;		
		margin-bottom: 24px;
	}
	.btn-text {margin-bottom: 24px;}
	.btn-main {width: 100%;}
}

.search-listing-filter {
	@media (max-width: $screen-xs) {
		background: #fff;
		position: fixed;
		top: 0;left: 0;right: 0;bottom: 0;
		z-index: 10;
		
		.wrapper {
			position: relative;
			padding: 55px 0 80px;
			height: 100%;
		}
		.modal-header, .modal-footer {		
			position: absolute;
			left: 15px;right: 15px;
		}
		.modal-header {top: 20px;}
		.modal-content {
			overflow: auto;
			max-height: 680px;
			height: 100%;
		}
		.modal-footer {
			bottom: 25px;
			&-buttons {
				display: flex;
				justify-content: space-between;
				.btn {width: 47%;padding: 10px 0}
			}
		}
	
		.h-modal {font-size: 18px;}
		.btn-close {position: absolute; right: 0;bottom: 0;}		
	}

	@media (min-width: $screen-xs) {
		.modal-header, .modal-footer {display: none;}
		.modal-content {
			overflow: inherit;
			max-height: unset;
		}		
		.wrapper {padding: 0}
	}
}
/* ==========================================================================
	---------MODALS   
========================================================================== */

/* ==========================================================================
	КАРТОЧКА ЗАКАЗА
========================================================================== */


.order-full {
	@media (min-width: $screen-md-min) {
		.order-num {margin-top: -30px;}
	}
}
.user-summary {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	.col-details {}
	.order-user, .order-time, .order-location {display: inline-block; font-size: 16px;}
	.order-user {
		color: $gray-text;
		&:after {
			content: "•";
			margin: 0 5px 0 10px;
		}
	}
	.order-time, .order-location {color: $gray-text}
	.col-user {width: 75px; flex-shrink: 0; @include clearfix();}
		.rating-mini {float: left;}
		.userpic {float: right;}	
}
.order-header {margin-bottom: 25px;	}
.order-num {color: $gray-text;font-size: 14px;}
.h-order {margin: 8px 0}
.order-price {}
.order-location,.order-categ {font-size: 16px;}
.order-categ {color: $gray-text;line-height: 14px;display: flex}

.order-gallery {margin-bottom: 30px;}
.order-full .order-gallery {text-align: center;}

.img-main, .img-thumbnail {
	img {border-radius: 8px;}
}
.img-main {margin-bottom: 5px;display: inline-block; max-height: 350px}
.img-preview-wrapper {
	overflow: auto;
	.img-preview-row {
		display: flex;
		margin: 0 auto;
	}
}
.img-thumbnail {
	width: 80px;
	height: 80px; 
	display: inline-block; 
	display: inline-flex; 
	margin-right: 16px;
	flex-shrink: 0;
	&:last-child {margin-right: 0;}
}
.order-description {margin-bottom: 40px;}

.order-actions {
	margin-bottom: 30px;
	display: flex;
	.btn-main {margin-right: 10px;}
}
.btn-dots {
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
}

/* PROFILE */
.content-profile {max-width: 630px;}

.bx-profile-header {
	text-align: center;
	.userpic {display: inline-block; margin-bottom: 24px;}
	.h-section {margin-bottom: 8px;}
	.rating-mini-vert {margin-bottom: 8px;}
	.location {color: $gray-text; font-size: 16px; margin-bottom: 16px;}
	.order-actions {display: inline-flex; position: relative;
		.btn-dots {position: absolute; right: -60px; top: 0;bottom: 0; margin: auto;}
	}
}
.empty-message {text-align: center;color: $gray-text}


/* ==========================================================================
   SIDEBAR
   ========================================================================== */


.listing-filter {
	@media (max-width: $screen-md-max) {
		.filter-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: #ffffff;
			height: 58px;
			position: absolute;
			left: 0;top: 0;right: 0; 
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
			padding: 0 20px;
		}
		.heading-filter-panel {
			color: #6F6F6F; 
			font-weight: 400;
			font-size: 14px;
			margin: 0;
		}
		background: #FAFAFA;
		width: 320px;		
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -320px;
		transition: all ease-in .3s;
		z-index: 7;
		padding: 60px 0 50px;
		&.opened {
			right: 0;
		}
		.listing-filter_i {
			height: 100%;
			overflow-y: auto;
			padding: 0 20px;			
		}
	}
	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.accord-filter {
	border-bottom: 1px solid $border;
	padding-bottom: 10px;
	margin-bottom: 10px;
	&:first-child {
		border-top: 1px solid $border;
		padding-top: 10px;
	}

	.content {padding-right: 25px; margin-top: 10px;}
}
.heading-filter, .heading-filter-price {
	font-weight: 500;
	font-size: 15px;
	margin: 0;
}
.heading-filter {
	position: relative;
	cursor: pointer;
	&:after {
		content: "";
		width: 9px;height: 6px;
		background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L0 1.33198L6 7L12 1.33198L10.59 0L6 4.32659L1.41 0Z' fill='%2347AB2F'/%3E%3C/svg%3E%0A");
		display: inline-block;
		position: absolute; top: 0;right: 0;bottom: 0; margin: auto;
	}
	&.opened:after {transform: rotate(180deg)}

	.hint {display: inline-block; margin-left: 10px; font-weight: 400; text-transform: lowercase;}
}


.list-filter-item {
	display: block; 
	position: relative; 
	font-size: 14px;
	overflow: hidden;
	padding: 10px;
	border-radius: 3px;
	input {position: absolute; left: -100px;}
	.icon {position: absolute; top: 0;right: 10px;bottom: 0; margin: auto;}

	&:hover {background: $main-light}

	&.selected {display: none;}
}
.values-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	.value {font-size: 12px; width: auto; border: none;background: none !important; outline: none; max-width: 50%;
		&:last-child {text-align: right;}
		&:focus {color: $main}
	}
}
.slider-range {margin: 20px 0;}
.ui-slider-handle {
	border-radius: 100% !important;
	
	@media (max-width: $screen-md-max) {
		width: 34px !important;
		height: 34px !important;	
		background: #FAFAFA !important;
		border: 4px solid #46AA32 !important;		
		top: -14px !important; 
	}
	@media (min-width: $screen-lg-min) {
		background: $main !important; 
		width: 12px !important;
		height: 12px !important; 
		border: none !important; 
		top: -4px !important; 
		margin-left: 0 !important;
	}
}
.ui-slider-range  {background: $main !important}//mid
.ui-widget-content {border: none !important;background: $gray-light !important; height: 4px !important}

.rating-4 path {fill: #A3CC01}
.rating-3 path {fill: #EBC500}
.rating-2 path {fill: #FF8934}

.list-tags {
	font-size: 0;
	.btn-tag {margin: 0 10px 10px 0;}
}

.sec-filter {margin-bottom: 40px;}

.buttons-filter {
	@media (max-width: $screen-md-max) {
		position: absolute;
		bottom: 0;left: 0;right: 0;
		display: flex;
		.btn {padding-left: 16px;padding-right: 16px; border-radius: 0;flex-grow:1;
			.icon {display: none;}
		}
	}
	@media (min-width: $screen-lg-min) {
		.btn {width: 100%;}
		.btn-cancel {margin-bottom: 20px;}
	}
}












.card-master-sidebar, .card-service-sidebar, .card-order-sidebar, .card-review-content {
	border-bottom: 1px solid $gray-light;
	padding-bottom: 16px;
	margin-bottom: 16px;
	&:last-child {margin-bottom: 0;}
}

.card-master-sidebar {
	.city {margin-bottom: 25px;}
}
.user-header, .user-footer {
	.name {
		font-weight: bold;
		margin: 0 0 5px 0; 
		color: $base-text; display: block;
		font-size: 18px;
		a {color: $base-text}
		&:hover, a:hover {color: $main}
	}
}
.user-header {
	position: relative;
	padding: 5px 0 0 80px;
	margin-bottom: 10px;
	.userpic {position: absolute; left: 0;top: 0;}

	.rating {font-size: 16px;}
		.rating-num {color: $main;margin-right: 5px;}
		.star {margin-right: 5px;vertical-align: middle;}
		.rating-rates {color: $gray-text}
}
.card-review-content {
	.user-header {
		display: flex;
		justify-content: space-between;
		padding: 0 0 0 60px;
		.main {}
		.userpic {width: 48px;height: 48px;line-height: 48px;}
		.name {margin: 0}
		.date {color: $gray-text;font-size: 16px;}
		.rating {
			flex-shrink: 0;
			@media (max-width: $screen-xs-max) {
				.star {margin-right: 0;}
			}
		}
	}
}


.rating-mini, .rating-mini-vert {}
.rating {
	.rating-num {font-size: 14px;}
}
.rating-num {color: $main;}
.rating-mini {
	text-align: center;
	width: 40px;
	.rating-num {display: block;line-height: 14px;padding-top: 2px; font-size: 14px;}
	.star {display: block; line-height: 0}
}
.rating-mini-vert {
	.rating-num {margin-right: 4px;}
}

.card-service-sidebar, .card-order-sidebar {	
	.title {font-weight: bold;margin: 0 0 5px 0; color: $base-text; line-height: 1.2; display: block;
		a {color: $base-text}
		&:hover, a:hover {color: $main}
	}	
}
.card-service-sidebar .price {margin-bottom: 10px;}

.card-order-sidebar {
	.user-summary {margin-bottom: 8px;}
}

/* REVIEW */
.review-v1 {
	padding: 30px;
	color: #000;
	//width: 545px !important;
	.rating {
		height: 73px;
		margin: -30px -30px 0 -30px;
		padding-top: 28px;
		padding-left: 143px;
		border-radius: 3px 3px 0 0;
		.rating-num {color: #fff;margin-left: 10px;}
		path {fill: #fff;} 
	}
	.rating-5 {background: $main;}
	.rating-4 {/* background: #A3CC01; */background: $main;}
	.rating-3 {/* background: #EBC500; */background: $main;}
	.header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;		
		position: relative;
		margin-top: 10px;
		align-items: flex-end;
		.userpic {position: absolute; left: 0;top: -60px;}
		.name {margin-left: 95px;margin-bottom: 20px;}
	}
		.userpic {width: 94px; height: 94px; line-height: 90px;}		
		.name, .date {	
			margin-bottom: 20px;
		}
		.name {padding-left: 20px; font-size: 17px; color: #000}
		.date {color: $gray-text; font-size: 15px;}

	.title {font-weight: 500;}
	.title, .review-text {margin-bottom: 14px;}
	.review-text, .footer {font-size: 0.95rem;}
	.review-text {line-height: 1.6; font-weight: 300;}

	.footer {display: flex;justify-content: space-between; flex-wrap: wrap}
		.price,.doer {display: inline-block;}
		.price {margin-right: 20px;}
}
.list-carousel {
	.card {
		//margin: 0 10px 10px;
		margin-bottom: 10px;
}}

#js-reviews {
	.glide__slide {opacity: 0.5; transition: opacity .2s ease-in;
		&:hover {opacity: 1}
	}
	.glide__slide--active {opacity: 1;}
}
.glide__arrow {background: none;border: none;padding: 0; cursor: pointer;
	svg {width: 11px;height: 19px;
		path {fill: $gray-text}
	}
	&:hover {
		svg path {fill: $main}
	}
}
.carousel-header {
	position: relative;
	.glide__arrow {margin: 0 15px}
	.glide__arrows {
		position: absolute;
		right: 0;top: 0;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}


/* TABS */
.nav-tabs {
	border-bottom: 1px solid $gray-light;
	margin-bottom: 20px;
	a {
		transition: all .3s;	
	}

	.menu-item {
		display: inline-block;		
		margin-right: 20px;
		&:last-child {margin-right: 0;}
		a {
			display: block;
			position: relative;
			padding-bottom: 10px;
			color: $base-text;
			&:after {
				content: '';
				text-transform: uppercase;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;right: 0;
				width: 0;
				transition: width .3s;
			}
		}
		//&:hover a {color: #000 !important}
		&.active, &:hover {
			a:after {
				background: $main;
				width: 100%;
			}				
		}
	}
}
.content-main .nav-tabs {
	margin-bottom: 32px;
}

.tabcontent {display: none;}
.tabcontent:first-child {display: block;}
/* ---- TABS */


.cta-page {
	background: $gray-light;
	text-align: center;
	padding: 40px 0;
	.heading {margin: 0 0 20px 0; font-weight: 700;font-size: 24px;}
}




/* INFO / HELP*/

@mixin hideAccordContent() {
	height: 0;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	transition: all .3s;
	opacity: 0;
}
@mixin showAccordContent() {
	font-size: inherit;
	height: auto;
	opacity: 1;
}
.row-help {
	padding-bottom: 30px;
	@media (max-width: $screen-sm-max) {
		.col-content {display: none;}
	}

	@media (min-width: $screen-md-min) {
		display: flex;
		padding: 30px 0 60px;
		.col-accord {
			border-right: 1px solid $border;
			width: 165px;
			padding-right: 10px;
			flex-shrink: 0;
		}
		.col-content {padding-left: 20px;}
	}
	@media (min-width: $screen-lg-min) {
		padding: 50px 0 100px;
		.col-accord {width: 340px;}
		.col-content {padding-left: 70px;}
	}

}

.help-heading {
	text-transform: uppercase;
	font-weight: 500; 
	cursor: pointer;
	padding: 15px;
	margin: 0 -10px;
	transition: all .15s;
	
	&.active {
		background-color: $main;
		color: #fff;
		border-radius: 3px; 
	}
	@media (max-width: $screen-sm-max) {
		padding-left: 35px;
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0L0 1.33198L6 7L12 1.33198L10.59 0L6 4.32659L1.41 0Z' fill='%23999999'/%3E%3C/svg%3E%0A");
		background-position: 15px 50%;
		background-repeat: no-repeat;
		&.active {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5565 5.92871L8.97071 4.51449L4.48552 0.0292159L0.000244157 4.5145L1.41446 5.92871L4.48548 2.85769L7.5565 5.92871Z' fill='white'/%3E%3C/svg%3E");
		}		
	}
	@media (min-width: $screen-md-min) {
		display: inline-block;
		margin-left: -15px;
	}
}
.help-content {
	@media (min-width: $screen-md-min) {
		p, ul, ol {line-height: 1.7}
	}
	p, ul, ol, .btn {margin-bottom: 20px;}
	p+ul, p+ol {margin-top: -15px;}
	ul, ol {
		ol {margin-top: 10px;}
		li {margin-bottom: 10px;
			&:last-child {margin-bottom: 0;}
		}
	}
	ul {padding-left: 20px;
		li {position: relative;}
		>li:before {
			content: "\2022";  
			color: $main;  
			font-weight: bold; 
			display: inline-block; 
			position: absolute;
			left: -10px;
			top: 0;			
		}
	}
	ol {padding-left: 20px;}
}
.col-accord {
	.help-content {
		@include hideAccordContent();
		&.open {
			@include showAccordContent;
			padding-top: 20px;
		}		
		@media (min-width: $screen-md-min) {			
			&.open {
				@include hideAccordContent();
			}
		}
	}
}

.accord-nest-heading {
	color: $main;
	font-size: 1.1rem; 
	position: relative;
	border-top: 1px solid $border;
	padding: 20px 35px 20px 10px;
	cursor: pointer;
	margin: 0;
	letter-spacing: 1px;
	font-weight: 500;
	transition: all .15s;
	&:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 50%;
		background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0H10V10H0V12H10V22H12V12H22V10H12V0Z' fill='%2346AA32'/%3E%3C/svg%3E%0A");				
		width: 22px;height: 22px;
		margin-top: -11px;
		transition: all .15s;
	}
	&.active {color: $base-text}
	&.active:after {
		background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0H10V10H0V12H10V22H12V12H22V10H12V0Z' fill='%23999999'/%3E%3C/svg%3E%0A");		
		transform:rotate(45deg);
	}
	@media (min-width: $screen-md-min) {
		padding: 20px 35px 20px 30px;
		&:after {right: 30px;}
	}
}
.accord-nest-content {
	@include hideAccordContent;

	&.open {
		padding: 10px 40px 20px 40px;
		@include showAccordContent;
	}
}
.accord-nest {border-bottom: 1px solid $border;}



/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-site {
	background: #3B464B;	
	color: #bababa;
	a {color: #fff}

	@media (min-width: $screen-sm-min) {
		position: absolute;
		left: 0;right: 0;bottom: 0;
	}
}

.row-footer {
	padding: 50px 0 25px;
	@media (min-width: $screen-lg-min) {
		display: flex;
		flex-wrap: nowrap;
		padding: 50px 0;
		.col-footer {
			flex-grow: 1;
			padding: 25px 40px 25px 50px;
			border-right: 1px solid #999999;
			&:first-child {padding-left: 0;} 
		}
	}
}
.menus-footer-wrapper {
	display: flex;
	@media (max-width: $screen-md-max) {
		flex-wrap: wrap;
		//display: none;
	}
}
.h-footer {
	color: #999; 
	font-size: 16px; 
	font-weight: 400;
	margin: 0 0 20px 0;
}
.list-footer {
	@media (max-width: $screen-md-max) {
		margin-right: 40px;
	}
	.list-item {
		margin-bottom: 20px;
		//&:last-child {margin-bottom: 0;}
	}
	&.cols {
		@media (min-width: $screen-lg-min) {
			columns: 2;
		}
	}
}

.misc-footer-wrapper {
	display: flex;
	justify-content: space-between;
	
	@media (max-width: $screen-md-max) {
		flex-wrap: wrap;
		.copyright {
			width: 100%; 
			border-top: 1px solid #bababa;
			padding-top: 25px;
			margin-top: 25px;
		}
	}
	@media (min-width: $screen-lg-min) {
		flex-direction: column;
		align-items: flex-end;
		padding: 25px 0 25px 50px;		
	}	
}
.list-social-footer {
	display: flex;
	align-items: center;
	font-size: 0;
	.list-item {display: inline-block; margin: 0 10px;
		&:first-child {margin-left: 0;}
		&:last-child {margin-right: 0;}
	}
	path {fill: #bababa}

	.vk {}
	.ok {}
	.fb {}
	.in {}
	.tw	{}
}

.bx_18 {
	border: 1px solid #bababa;
	font-weight: 500;
	border-radius: 3px;
	display: inline-block;
	width: 42px;height: 42px;
	text-align: center;
	line-height: 40px;
}
.copyright {}





   .footer-placehodler {
	   height: 100px;
   }